.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 80px;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
.width-middle,
.maxWidth {
	max-width: 500px;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}
